<!doctype html>
<html>
	<head>
		<title>Employee Directory</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="js/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/dataService.js"></script>

	</head>
	<body ng-app="EmployeeDirectory">
		<div class="container">

			<div class="row">

				<div class="page-header">
					<h1>Employee Directory</h1>
				</div><!-- /.navbar-header -->

			</div><!-- /.row -->
			
			<div ng-controller="MyController">
				
				<div class="container">
					<div id="employeeInfo" class="col-sm-4 thumbnail">
						<h2>Add an Entry</h2>
						<br />	
						<div class="form-group">
		            		<label for="myEmployeeName" class="control-label">
		            			Name
		            		</label>
		          			<input name="myEmployeeName" type="text" ng-model="myEmployee.name" class="form-control" placeholder="Employee's Name" maxlength="100" autofocus />

		          		</div><!-- /.form-group -->

						<div class="form-group">
		            		<label for="myEmployeePosition" class="control-label">
		            			Position
		            		</label>
		          			<input name="myEmployeePosition" type="text" ng-model="myEmployee.position" class="form-control" placeholder="Employee's Position" maxlength="100" />

		          		</div><!-- /.form-group -->

		          		<div class="form-group">
		            		<label for="myEmployeePhone" class="control-label">
		            			Phone
		            		</label>
		          			<input name="myEmployeePhone" type="text" ng-model="myEmployee.phone" class="form-control" placeholder="Employee's Phone Number" maxlength="100" />

		          		</div><!-- /.form-group -->

		          		<div class="form-group">
		            		<label for="myEmployeeAddress" class="control-label">
		            			Street Address
		            		</label>
		          			<input name="myEmployeeAddress" type="text" ng-model="myEmployee.streetAddress" class="form-control" placeholder="Employee's Street Address" maxlength="100" />

		          		</div><!-- /.form-group -->

		          		<div class="form-group">
		            		<label for="myEmployeeCity" class="control-label">
		            			City
		            		</label>
		          			<input name="myEmployeeCity" type="text" ng-model="myEmployee.city" class="form-control" placeholder="Employee's City" maxlength="100" />

		          		</div><!-- /.form-group -->

		          		<div class="form-group">
		            		<label for="myEmployeeState" class="control-label">
		            			State
		            		</label>
		          			<input name="myEmployeeState" type="text" ng-model="myEmployee.state" class="form-control" placeholder="Employee's State" maxlength="100" />

		          		</div><!-- /.form-group -->

		          		<div class="form-group">
		            		<label for="myEmployeeZip" class="control-label">
		            			Zip Code
		            		</label>
		          			<input name="myEmployeeZip" type="text" ng-model="myEmployee.zip" class="form-control" placeholder="Employee's Zip Code" maxlength="100" />

		          		</div><!-- /.form-group -->
						
						<div class="form-group">
							<div class="clearfix"></div><!-- /.clearfix -->
		          			<button type="submit" class="btn btn-primary pull-right" ng-click="addEmployee()">Add Entry</button>
		          		</div><!-- /.form-group -->

		          	</div><!-- /.col-sm-4 -->

	          		<div class="col-sm-8">
	          			<div class="container-fluid">
		          			<div class="col-sm-6" ng-repeat="myEmployee in employeeArray track by $index">
		          				<div class=" panel panel-default">
		          					<div class="panel-heading">
		          						<h4 class="panel-title">
											{{ myEmployee.name }}
											<span class="close" ng-click="deleteEmployee(myEmployee)">&times;</span>
										</h4>
									</div><!-- /.panel-heading -->
									<div class="panel-body">
										<p>
											<strong>Position:</strong>
											<br />
											{{ myEmployee.position }}
										</p>
										<p><strong>Phone:</strong> {{ myEmployee.phone }}</p>
										<p>
											<strong>Street Address:</strong>
											<br />
											{{ myEmployee.streetAddress }}
											<br />
											{{ myEmployee.city }}, {{ myEmployee.state }} {{ myEmployee.zip }}
										</p>
									</div><!-- /.panel-body -->
								</div><!-- /.panel -->
							</div><!-- /.col-sm-4 -->	
						</div><!-- /.container-fluid -->

					</div><!-- /.col-sm-8 -->

				</div><!-- /.container -->

			</div><!-- /.myController -->

		</div><!-- /.container -->
	</body>
</html>