<!doctype html>
<html>
	<head>
		<title>Employee Directory</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="js/angular.js"></script>
		<script src="js/dataService.js"></script>
		<script src="js/app.js"></script>
		<script src="js/dataService.js"></script>

	</head>
	<body ng-app="EmployeeDirectory">
		<div class="container">

			<div class="row">

				<div class="page-header">
					<h1>Employee Directory</h1>
				</div><!-- /.navbar-header -->

			</div><!-- /.row -->
			
			<div ng-controller="MyController">
				
				<div class="container">
					<div id="employeeInfo" class="col-sm-4 thumbnail">
						<h2>Add an Entry</h2>
						<br />	
						<div class="form-group">
		            		<label for="myEmployee" class="control-label">
		            			Name
		            		</label>
		          			<input name="myEmployee" type="text" ng-model="myEmployee" class="form-control" placeholder="Employee's Name" maxlength="100" autofocus />

		          		</div><!-- /.form-group -->
						
						<div class="form-group">
							<div class="clearfix"></div><!-- /.clearfix -->
		          			<button type="submit" class="btn btn-primary" ng-click="addEmployee()">Add Entry</button>
		          		</div><!-- /.form-group -->

		          	</div><!-- /.col-sm-4 -->

	          		<div class="col-sm-8">
	          			<div class="col-sm-12" >
								<p>
									{{ myEmployee }}
									<span class="close" ng-click="deleteEmployee(myEmployee)">x</span>
								</p>
						</div><!-- /.col-sm-12 -->

					</div><!-- /.col-sm-8 -->

				</div><!-- /.container -->

			</div><!-- /.myController -->

		</div><!-- /.container -->
	</body>
</html>